@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
    width: auto !important;
    overflow-x: hidden !important
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 27px;
    color: #333333;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Hero Section */
/* Navbar Starts */
.navbar__wrapper{
    box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.15);
    padding-left: 80px;
    padding-right: 80px;
}

.nav-link{
    font-size: 16px;
    color: #000000;
    line-height: 16px;
    padding: 20px;
}

.navbar-nav li.active > a {
    text-decoration: underline;
    color: black;
}

.navbar-toggler{
    outline: none;
    box-shadow: none;
}

#cross {
    display: none;
}

#toggle:checked + label i#bars {
    display: none;
}
#toggle:checked + label i#cross {
    display: block;
}

@media (max-width: 576px){
    .navbar__wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-top-wrap{
        padding-left: 32px;
        padding-right: 32px;
    }
    .nav-link{
        color: white;
    }
    .nav__subwrap{
        width: 100vh;
        padding: 0px 32px 0px 32px;
        display: flex;
    }
    .navbar-brand{
        margin-right: auto;
    }
    .brand__image{
        width: 100px;
    }
    .collapse{
        background-color: black;
    }
    .navbar-nav{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .navbar-nav li.active > a {
        color: #F7931E;
        text-decoration: none;
    }
}

@media (min-width: 576px) and (max-width: 810px) {
    .navbar__wrapper{
        padding-left: 40px;
        padding-right: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar__wrapper{
        padding-left: 0px;
        padding-right: 0px;
    }
    .nav-top-wrap{
        padding-left: 32px;
        padding-right: 32px;
    }
    .nav-link{
        color: white;
    }
    .nav__subwrap{
        width: 100%;
        padding: 0px 32px 0px 32px;
        display: flex;
    }
    .navbar-brand{
        margin-right: auto;
    }
    .brand__image{
        width: 100px;
    }
    .collapse{
        background-color: black;
    }
    .navbar-nav{
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .navbar-nav li.active > a {
        color: #F7931E;
        text-decoration: none;
    }
}


/* Navbar ends */

/* Masterhead Section Starts */
.artist__name{
    font-size: 80px;
    line-height: 80px;
}

@media (max-width: 576px){
    .masterhead__section{
        padding: 0px;
        height: 600px;
    }
    .masterhead-small-img{
        padding: 0px;
    }
    .hero__text{
        position: absolute;
        margin-top: 250px;
    }
    .artist__name{
        color: white;
    }
    .artist__caption{
        color: white;
        font-weight: 200;
        text-transform: uppercase;
    }
    .artist__image{
        height: 622px;
    }
}

@media (min-width: 380px) and (max-width: 575.98px){
    .artist__image{
        height: 600px;
        width: 100%;
    }
    .artist__name{
        font-size: 100px;
    }
}

@media (min-width: 576px){
    .about_text_title{
        font-size: 1.6rem;
    }

    .artist__name{
        font-size: 70px;
        width: max-content;
    }

    .hero__text{
        left: 5%;
        z-index: 1;
    }

    .artist__image{
        width: inherit;
    }
    .masterhead-big-img{
        padding: 0px;
    }
    .about__section{
        margin-top: -50px;
    }

}


/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .masterhead__section{
        padding: 0px;
        height: 600px;
    }
    .masterhead-small-img{
        padding: 0px;
    }
    .hero__text{
        position: absolute;
    }
    .artist__name{
        color: white;
    }
    .artist__caption{
        color: white;
        font-weight: 200;
        text-transform: uppercase;
    }
    .artist__image{
        height: 550px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .masterhead__section {
        margin-top: 48px;
        margin-bottom: 0px;
        padding-right: 120px;
        padding-left: 120px;
        height: 550px;
    }
    .hero__text {
        z-index: 1;
        position: absolute;
        margin-left: 40px;
    }
    .masterhead-big-img{
        padding: 0px;
        position: absolute;
    }
    .artist__image{
        margin-left: 260px;
        width: inherit;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .masterhead__section {
        margin-top: 48px;
        margin-bottom: 0px;
        padding-right: 160px;
        padding-left: 160px;
        height: 400px;
    }
    .masterhead-big-img{
        padding: 0px;
        position: absolute;
        margin-left: 40px;
    }
    .hero__text {
        z-index: 1;
    }
    .artist__name{
        font-size: 62px;
    }
    .masterhead-big-img{
        padding: 0px;
        position: absolute;
    }
    .artist__image{
        margin-left: 260px;
        width: 350px;
    }
}

@media (min-width: 1199.99px) {
    .masterhead__section {
        margin-top: 48px;
        margin-bottom: 0px;
        padding-right: 180px;
        padding-left: 180px;
        height: 630px;
    }
    .masterhead-big-img{
        padding: 0px;
        position: absolute;
        margin-left: 40px;
    }
    .hero__text{
        left: 0% !important;
        z-index: 1;
    }
    .artist__name{
        font-size: 105px;
    }
    .masterhead-big-img{
        padding: 0px;
        position: absolute;
    }
    .artist__image{
        margin-left: 460px;
        width: inherit;
    }
}

/* Extra Query */
@media (min-width: 1200px) and (max-width: 1300px) {
    .artist__image {
        margin-left: 350px;
        width: inherit;
    }
    .artist__name{
        font-size: 90px;
    }
    .hero__text {
        left: -2%;
        z-index: 1;
    }
}

/* Masterhead Section Ends */


/* About Section Starts */

.about__section{
    padding: 80px 180px 80px 180px;
    background: #F7931E;
}

.about__image{
    width: inherit;
}

.about__link, .about__link:hover{
    color: #020202;
    text-decoration: none;
}

@media (max-width: 576px){
    .about__section {
        padding: 96px 32px 0px 32px;
        margin-bottom: 50px;
    }
    .about__image{
        margin-bottom: -70px;
        margin-top: 50px;
    }
    .about_text_wrap{
       
    }
}

@media (min-width: 576px){
    .about_image_wrap{
        display: flex;
    }
}

@media (min-width: 576px) and (max-width: 810px) {
    .about__section{
        padding: 40px 60px 40px 60px;
    }
    .about_text_wrap{
        padding: 0px;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .about__section{
        padding: 40px 80px 40px 80px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .about__section{
        padding: 40px 120px 40px 120px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .about__section{
        padding: 40px 160px 40px 160px;
    }
}

/* About section ends */

/* Framses Start */
.frames__section{
    padding: 80px 80px 0px 80px;
}

.slide__image{
    width: inherit;
}

.slide-title{
    color: black !important;
}

.swiper-pagination{
    position: relative;
    padding-top: 30px;
}

.swiper-button-next, .swiper-button-prev{
    color: #333333;
}

.buy__text{
    color: #AA2072;
    font-weight:600;
}

.buy__text:hover {
    color: #AA2072;
    text-decoration: none;
}

@media (max-width: 576px){
    .frames__section {
        padding: 96px 32px 0px 32px;
    }
    .swiper-button-next {
        display: none;
    }

    .swiper-button-prev {
        display: none;
    }

    .slide__image{
        margin-bottom: 30px;
    }
    .slider_img_wrap, .slider_text_wrap{
        padding: 0px;
    }
}

@media (min-width: 576px){

}

@media (min-width: 576px) and (max-width: 810px) {
    .frames__section{
        padding: 40px 40px 0px 40px;
    }

    .slider_img_wrap{
        align-self: center;
    }
}


/* Frames Ends */

/* Exhibition Starts */

.card-title{
    color: #AA2072;
    font-size: 2rem;
}

.exhibition__section{
    padding: 80px;
}

@media (max-width: 576px){
    .exhibition__section {
        padding: 96px 32px 58px 32px;
    }
    .exhibition__card{
        padding: 0px;
    }
    .card-title{
        font-size: 25px;
    }
}

@media (min-width: 576px){

}

@media (min-width: 576px) and (max-width: 810px) {
    .exhibition__section{
        padding: 40px 40px 40px 40px;
    }
}

/* Exhibition Ends */

/* CONTACT STARTS */
.contact__section{
    padding: 80px;
    background: #F5F5F5;
}

.title{
    font-weight: 600;
    font-size: 61.04px;
    line-height: 61px;
    margin-left: 0px !important;
    color: 020202;
}

.contact__subtitle{
    color: #333333;
}

.label{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #303030;
}

.contact__input{
    background: #FFFFFF;
    border: 1px solid #7C7C7C;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    padding: 15px;
    width: 300px;
}

.contact__text-area{
    background: #FFFFFF;
    border: 1px solid #7C7C7C;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    padding: 15px;
    width: 648px;
    height: 150px;
}

.contact__btn, .contact__btn:hover{
    background: #AA2072;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 12px 32px 12px 32px;
}

@media (max-width: 576px){
    .contact__section {
        padding: 96px 32px 58px 32px;
    }
    .title{
        font-weight: 600;
        font-size: 39px;
        line-height: 25px;
        text-transform: capitalize;
        color: #020202;
        margin-left: 0px !important;
        margin-bottom: 1rem;
    }
    .contact-input__wrapper{
        width: 100%;
    }
    .contact__text-area{
        width: 100%;
    }
    .contact__input{
        width: 100%;
    }
    .contact-btn__wrapper{
        justify-content: center;
    }
    .contact-vector__img{
        margin-bottom: -200px;
        float: right;
        width: 100px;
    }
}

@media (min-width: 576px){
    .contact__form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-vector__img{
        margin-bottom: -380px;
        float: right;
        width: 270px;
    }
}

@media (min-width: 576px) and (max-width: 810px) {
    .contact__section{
        padding: 40px 40px 40px 40px;
    }
    .contact-vector__img{
        width: 120px;
    }
    .contact__input {
        width: 200px;
    }
    .contact__text-area {
        width: 424px;
    }
    .title {
        font-size: 45px;
        margin-left: 0px !important;
        color: #020202;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .contact-vector__img{
        width: 180px;
    }
}

/* CONTACT ENDS */

/* FOOTER */

.footer__top, .footer__bottom{
    background-color: #111111;
    color: #FFFFFF;
    font-weight: 400;
    border: 0px;
}

.footer__subtitles{
    font-weight: 600;
    font-size: 20px;
}

.newsletter__input{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    border: 1px solid white;
    padding: 5px;
    width: 250px;
}

.newsletter__btn{
    background-color: transparent;
    width: 50px;
    padding: 5px;
    border: 1px solid white;
    border-left: 0px;
}

.footer__text{
    font-size: 14px;
}

.footer__img{
    width:150px;
}

.footer__bottom{
    color: #8C8C8C;
    font-size: 14px;
}

@media (max-width: 576px){
    .footer__top{
        padding: 58px 32px 58px 32px;
        flex-direction: column;
    }
    .footer__img{
        width:100px;
    }
    .footer__bottom{
        padding: 0px 32px 58px 32px;
    }
    .get-in-touch, .socials, .newsletter{
        padding: 0px;
    }
}

@media (min-width: 576px){
    .footer__top{
        padding: 80px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .footer__top{
        padding: 40px;
    }
    .newsletter__input {
        font-size: 10px;
        width: 130px;
    }
}

/* FOOTER ENDS */

.swiper-pagination-bullet-active{
    background-color: black;
}
