@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

html,
body {
    width: auto !important;
    overflow-x: hidden !important
}

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    max-width: 1440px;
    margin: 0 auto;
    font-size: 1rem;
    line-height: 27px;
    color: #333333;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Hero Section */
/* Navbar Starts */
.navbar__wrapper{
    box-shadow: 0px 0.5px 10px rgba(0, 0, 0, 0.15);
}

.nav-link{
    font-size: 16px;
    color: #000000;
    line-height: 16px;
}

.navbar-nav li.active > a {
    text-decoration: underline;
    color: black;
}

.artist__name{
    font-size: 80px;
    line-height: 80px;
}

.masterhead__section{
}

@media (max-width: 576px){}

@media (min-width: 576px){
    .masterhead__section{
        margin-top: 48px;
        margin-bottom: 48px;
    }

    .artist__image{
        width: 469px;
    }
}

/* Navbar ends */

/* Framses Start */
.frames__section{
    padding: 80px 80px 0px 80px;
}

.slide__image{
    width: inherit;
}

.slide-title{
    color: black !important;
}

.swiper-pagination{
    position: relative;
    padding-top: 30px;
}

.swiper-button-next, .swiper-button-prev{
    color: #333333;
}

@media (max-width: 576px){
    .frames__section {
        padding: 110px 32px 0px 32px;
    }
}

@media (min-width: 576px){

}

@media (min-width: 576px) and (max-width: 810px) {
    .frames__section{
        padding: 40px 40px 0px 40px;
    }
}


/* Frames Ends */

/* Exhibition Starts */

.card-title{
    color: #AA2072;
    font-size: 2rem;
}

.exhibition__section{
    padding: 80px;
}

@media (max-width: 576px){
    .exhibition__section {
        padding: 110px 32px 58px 32px;
    }
    .exhibition__card{
        padding: 0px;
    }
    .card-title{
        font-size: 25px;
    }
}

@media (min-width: 576px){

}

@media (min-width: 576px) and (max-width: 810px) {
    .exhibition__section{
        padding: 40px 40px 40px 40px;
    }
}

/* Exhibition Ends */

/* CONTACT STARTS */
.contact__section{
    padding: 80px;
    background: #F5F5F5;
}

.title{
    font-weight: 600;
    font-size: 61.04px;
    line-height: 61px;
    margin-left: 0px !important;
}

.contact__subtitle{
    color: #333333;
}

.label{
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #303030;
}

.contact__input{
    background: #FFFFFF;
    border: 1px solid #7C7C7C;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    padding: 15px;
    width: 300px;
}

.contact__text-area{
    background: #FFFFFF;
    border: 1px solid #7C7C7C;
    font-size: 14px;
    line-height: 19px;
    color: #9A9A9A;
    padding: 15px;
    width: 648px;
    height: 150px;
}

.contact__btn, .contact__btn:hover{
    background: #AA2072;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 12px 32px 12px 32px;
}

@media (max-width: 576px){
    .contact__section {
        padding: 110px 32px 58px 32px;
    }
    .title{
        font-weight: 600;
        font-size: 39px;
        line-height: 25px;
        text-transform: capitalize;
        color: #333333;
        margin-left: 0px !important;
        margin-bottom: 1rem;
    }
    .contact-input__wrapper{
        width: 100%;
    }
    .contact__text-area{
        width: 100%;
    }
    .contact__input{
        width: 100%;
    }
    .contact-btn__wrapper{
        justify-content: center;
    }
    .contact-vector__img{
        margin-bottom: -200px;
        float: right;
        width: 100px;
    }
}

@media (min-width: 576px){
    .contact__form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contact-vector__img{
        margin-bottom: -380px;
        float: right;
        width: 270px;
    }
}

@media (min-width: 576px) and (max-width: 810px) {
    .contact__section{
        padding: 40px 40px 40px 40px;
    }
    .contact-vector__img{
        width: 120px;
    }
    .contact__input {
        width: 200px;
    }
    .contact__text-area {
        width: 424px;
    }
    .title {
        font-size: 45px;
        margin-left: 0px !important;
    }
}

@media (min-width: 800px) and (max-width: 1000px) {
    .contact-vector__img{
        width: 180px;
    }
}

/* CONTACT ENDS */

/* FOOTER */

.footer__top, .footer__bottom{
    background-color: #111111;
    color: #FFFFFF;
    font-weight: 400;
    border: 0px;
}

.footer__subtitles{
    font-weight: 600;
    font-size: 20px;
}

.newsletter__input{
    background-color: transparent;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    border: 1px solid white;
    padding: 5px;
    width: 250px;
}

.newsletter__btn{
    background-color: transparent;
    width: 50px;
    padding: 5px;
    border: 1px solid white;
    border-left: 0px;
}

.footer__text{
    font-size: 14px;
}

.footer__img{
    width:150px;
}

.footer__bottom{
    color: #8C8C8C;
    font-size: 14px;
}

@media (max-width: 576px){
    .footer__top{
        padding: 58px 32px 58px 32px;
        flex-direction: column;
    }
    .footer__img{
        width:100px;
    }
    .footer__bottom{
        padding: 0px 32px 58px 32px;
    }
    .get-in-touch, .socials, .newsletter{
        padding: 0px;
    }
}

@media (min-width: 576px){
    .footer__top{
        padding: 80px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .footer__top{
        padding: 40px;
    }
    .newsletter__input {
        font-size: 10px;
        width: 130px;
    }
}

/* FOOTER ENDS */
